<div class="main-container">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title
        >Code for Canada skills challenge 2019 - Web Developers</mat-card-title
      >
      <mat-card-subtitle>Solved by Alex Samari</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Problem">
          <p>
            The task: Look at the data representing building code violations.
            Write a brief program in the language of your choice to summarize
            the data. Your program should calculate: The number of violations in
            each category The earliest and latest violation date for each
            category
          </p>

          <div class="mat-elevation-z2 table-container">
            <mat-form-field>
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Filter"
              />
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="violation_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Violation Id
                </th>
                <td mat-cell *matCellDef="let row">{{ row.violation_id }}</td>
              </ng-container>

              <ng-container matColumnDef="inspection_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Inspection Id
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.inspection_id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="violation_category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Violation Category
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.violation_category }}
                </td>
              </ng-container>

              <ng-container matColumnDef="violation_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Violation Date
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.violation_date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="violation_date_closed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Violation Date Closed
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.violation_date_closed }}
                </td>
              </ng-container>

              <ng-container matColumnDef="violation_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Violation Type
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.violation_type }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Solution 1">
          <mat-list>
            <h2 mat-subheader>The number of violations in each category</h2>
            <mat-list-item *ngFor="let obj of categoryViolationsArr">
              <h4 mat-line><b>Category: </b> {{ obj.category }}</h4>
              <p mat-line><b>Number of Violations: </b> {{ obj.violations }}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>

        <mat-tab label="Solution 2 Part A">
          <mat-list>
            <h2 mat-subheader>
              The earliest date of violation in each category
            </h2>
            <mat-list-item *ngFor="let obj of categoryViolationDatesEarlyArr">
              <h4 mat-line><b>Category: </b> {{ obj.category }}</h4>
              <p mat-line><b>Earliest Violation Date: </b> {{ obj.date }}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>

        <mat-tab label="Solution 2 Part B">
          <mat-list>
            <h2 mat-subheader>The latest date of violation in each category</h2>
            <mat-list-item *ngFor="let obj of categoryViolationDatesLateArr">
              <h4 mat-line><b>Category: </b> {{ obj.category }}</h4>
              <p mat-line><b>Latest Violation Date: </b> {{ obj.date }}</p>
            </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>

      <mat-card-actions>
        <a color="primary" mat-button href="#" target="_blank"
          >View Source Code</a
        >
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
